*{
    padding: 0;
    margin: 0;
}
header{
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background-color: rgb(194, 194, 194);
    overflow: hidden;
}

.container{
    width: 90%;
    margin: 0px auto;
}

.menu{
    /* background: rgba(82, 83, 83, 0.664); */
    position: fixed; 
    top: 0;
    width: 100%; 
    padding-top: 10px;
}
.area-main{
    /* position: absolute; */
    width:100%;
    height: 700px;
    background: url("img/about_bates_chemical.jpg") no-repeat;
    /* background: url(img/chiangmai-riverside2.jpg); */
    background-size:cover; 
    object-fit: fill;
}
.txt-lowgo{
    float: left;
    color: rgb(255, 255, 255);
    padding-top: 1.5%;
    padding-left: 3%;
    font-family: 'Satisfy', cursive;
}

a {
    font-family: 'Mitr', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding-right: 25px;
  }
  .navigation{
        padding: 15px;
        float: right;
        
  }
  
  .navigation nav {
    /* position: absolute; */
      font-family: monospace;
  }
  
  .navigation ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
  }
  
  .navigation li {
      display: block;
      float: left;
      padding: 0.5rem;
      /* position: relative; */
      text-decoration: none;
      transition-duration: 0.5s;
  }
    
  .navigation li a {
    color: rgb(255, 255, 255);
  }
  .navigation li a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    transform: border 2s;    
  }
  .navigation ul li ul {
    /* background: rgba(253, 207, 121, 0.733); */
    visibility: hidden;
    opacity: 0;
    min-width: 14rem;
    /* position: absolute; */
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  .navigation ul li:hover > ul,
  ul li ul:hover {
    /* transition-delay: 2s; */
    visibility: visible;
    opacity: 3;
    display: block;
  }
  
  .navigation ul li ul li {
    clear: both;
    width: 100%;
  }

  .txt-area h1{
    text-shadow: 2px 4px #0000008e;
    color: rgb(255, 255, 255);
    font-family: 'Mitr', sans-serif;
    padding-top: 250px;
    padding-left: 220px;
    font-size: 45px;
  }
  .txt-area h2{
    text-shadow: 2px 4px #0000008e;
    color: rgb(255, 255, 255);
    font-family: 'Tajawal', sans-serif;
    margin-left: 510px;
    font-size: 30px;
  }
  .contant1{
    height: 300px;
  }
  .contant1-head{ 
    font-family: 'Tajawal', sans-serif; 
    margin-left: 35%;
    font-size: 30px;
    padding-top: 30px;
  }
  .contant1-box1,.contant1-box2,.contant1-box3{
    padding-top:20px;
    width: 28%;
    height: 300px;
    /* border: 1px solid #000000; */
    float: left;
    /* background-color: aqua; */
  }
  .contant2{
    width: 100%;
    height: 300px;
    background: url(img/thumb.png);
    background-size: cover;
    background-position-x: 500px;
    background-position-y: -120px;;
  }
  .contant2_l{
    width: 50%;
    height: 400px;
    background: #363636;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    font-family: 'Mitr', sans-serif;
    color: #ffffff;
    text-align: center;
  }
  /* .contant2_r{
    width: 500px;
    height: 400px;
    background: #e24f4f;
    float: left;
  }   */
  .contant3{
    width: 100%;
    margin: 0 auto;
    height: 400px;
    background: #ffffff;
  }
  .contant3-text{
    /* border: 1px solid #000000; */
    font-family: 'Tajawal', sans-serif; 
    padding-left: 43%;
    font-size: 35px;
    padding-top: 30px;
    
  }
  .contant3_Box1{
    background: url("img/117970880.jpg");
    background-size: cover;
    width: 30%;
    margin-left: 60px;
    height: 300px;
    float: left;

  }
  .contant3_Box2{
    background: url("img/117970880.jpg");
    background-size: cover;
    width: 30%;
    height: 300px;
    float: left;

  }
  .contant3_Box3{
    background: url("img/117970880.jpg");
    background-size: cover;
    width: 30%;
    height: 300px;
    float: left;

  }
  .overlay{
    bottom: 0; 
    font-family: 'Tajawal', sans-serif; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 90%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  .contant3_Box1:hover .overlay{
    opacity: 1;
    
  }
  .contant3_Box2:hover .overlay{
    opacity: 1;
  }
  .contant3_Box3:hover .overlay{
    opacity: 1; 
  }
  .circle{
    background: rgba(158, 158, 158, 0.479);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  .circle img{
    width: 60px;
    height: 100px;
  }
  .contant1-box1 img{
    padding-left: 29px;
    padding-top: 10px;
    width: 60px;
    height: 90px;
  }
  .contant1-box1-text{
    font-family: 'Mitr', sans-serif;
    padding-top: 25px;
    text-align: center;
    font-size: 10px;
  }
  .contant1-box2 img{
    padding-left: 20px;
    padding-top: 30px;
    width: 80px;
    height: 60px;
  }
  .contant1-box3 img{
    padding-left: 24px;
    padding-top: 25px;
    width: 70px;
    height: 70px;
  } 
  .contant1-box1{
    margin-left: 100px;
  }
  footer{ 
      background-color: rgb(54, 54, 54);
      width: 100%;
      height: 300px;
      color: #ffffff;
  }
  .contact_foot{
    font-family: 'Mitr', sans-serif;
    height: 300px;
    width:  34%;
    float: left;
  }
  .contact_foot h2{
    font-family: 'Satisfy', cursive;
    padding-left: 20px;
    padding-top: 30px;
    font-size: 30px;
  }
  .contact_name{
    padding-left: 35px; 
    font-size: 15px;
  }
  .contact_name img{
      width: 15px;
      height: 15px;
      border-radius: 50%;
  }
  .copyright_th{
      text-align: center;
    padding-right: 80px;
  }
  .menu_foot{
    height: 300px;
    width:  34%;
    float: left;
  }
  .menu_foot h2{
    font-family: 'Mitr', sans-serif;
      padding-top: 5px;
  }
  .menu_foot hr{
    width: 400px;
  }
  .menu_foot_a{
      padding-left: 20px;
  }
  .menu_foot_a a{
    font-size: 17px;
  }
  .copyright_en{
    padding-top: 15px;
    width: 400px;
    font-family: 'Mitr', sans-serif;
    text-align: center;
    font-size: 13px;
  }
  .map_foot{
    height: 300px;
    width:  30%;
    float: left;
  }
  .map_foot h2{
    font-family: 'Mitr', sans-serif;
      padding-top: 5px;
  }
  .angle-down{
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    width: 4%;
    height:7%;
    border:2px solid #ffffff;     
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;
    transition:background 1s,color 1s,width 1s,height 1s; 
  }
  .angle-down:hover{
    width: 5%;
    height:9%;
    background: #ffffff;
    color: #000000cc;
  }
  .angle-down-i{ 
    height:100%;
    /* border: 1px solid #000000; */
  
  }
  .angle-down-i1 a{
    color: #ffffff;
  }
  .angle-down-i1{
    padding-top: 5px;
    padding-left: 13px;
  }
  .angle-down-i1:hover{
    padding-top: 13px;
    padding-left: 20px;
  }
  .angle-down-i1 a:hover{    
    color: #000000;
  }
  .UpdateTag{
    font-family: 'Mitr', sans-serif;
    position: fixed;
    bottom: 0;
    left: 40%;
    background-color: #fbff18;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    /* padding-bottom: 10px; */
  }
